:root{
    --x-primary1-: hsl(220, 98%, 61%);
    --x-primary2-: hsl(192, 100%, 67%);
    --x-primary3-: hsl(280, 87%, 65%);

    /* -------------------- */
    --x-ligth1-: hsl(0, 0%, 98%);
    --x-ligth2-: hsl(236, 33%, 92%);
    --x-ligth3-: hsl(233, 11%, 84%);
    --x-ligth4-: hsl(236, 9%, 61%);
    --x-ligth5-: hsl(235, 19%, 35%);

    /* -------------------- */
    --x-dark1-: hsl(234, 39%, 85%);
    --x-dark2-: hsl(236, 33%, 92%);
    --x-dark3-: hsl(234, 11%, 52%);
    --x-dark4-: hsl(233, 14%, 35%);
    --x-dark5-: hsl(237, 14%, 26%);
    --x-dark5-: hsl(235, 24%, 19%);
    --x-dark5-: hsl(235, 21%, 11%);
}


html ,.container{
height: 100%;
}
body{
    background-color:var(--x-dark7-);
    background-image: url(../../public/imges/landing/2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
}

.container{

    display: grid;
    place-items: center;
    height: 100vh;
    padding: 10px;
    position: relative;
}

.container .card-todo{
    max-width: 600px;;
    padding: 50px;
    aspect-ratio: 1.2;
    position: relative;
}

.card-tittle {
    padding-left: 0px;
    flex-grow: 1;
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
    color:hsl(0, 0%, 98%) ;

}

.card-icon {
    padding-right: 0;
    position: absolute;
    flex-grow: 1;
    right: 0;
    top: 10px;
    text-align: right;
}

.card-job{
    width: 100%;
    padding-bottom: 3px;
    margin-top: 30px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 25px;
border-radius: 8px;
    position: absolute;
    flex-grow: 1;
    right: 0;
    top: 30px;
    left: 0;
    background-color: var(--x-ligth2-);

}

.form-app-todo{
    align-items: center;
    color: var(--x-dark3-);
    padding-left: 17px;
padding-top: 13px;

    }

.card-list-select .list-group{
        max-width: 100%;
    padding-bottom: 3px;
    margin-top: 30px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 25px;
    border-radius: 8px;
    position: absolute;
    flex-grow: 1;
    right: 0;
    top: 100px;
    left: 0;
    background-color: var(--x-dark6-);
}



.card-list-select .list-group .list-group-item {
    background-color: var(--x-ligth3-);
    color: var(--x-dark3-);
    padding: 15px;
    }
    
.form-select-delet {
    display: none;   
    position: absolute;
    right: 10px;
    padding-bottom: 2px;
     }
    
.zabdar{
        display: none;   
    
     }


     .form-check-input{
        background-image: url("../../public/imges/landing/icon-check.svg");
        padding: 6px;
    }
     

    @media(max-width:768px)
    {
        .container .card-todo{
            max-width: 500px ;
            padding: 0px;
            aspect-ratio: 0.8;
            font-size: 13px;
           }
           
           .card-exit{
   
               position: absolute;
               bottom: -70px;
               background-color:var(--x-ligth3-);
               left: -1px;
               padding-bottom: 10px;
               padding-top: 10px;
               border-radius: 4px 4px 4px 4px;
               width: 100%;
               text-align: center;       
           }
   
       
   }
   